.test {
    background-color: #810;
}

body {
    background-color: #FFCC00;
}

h1,
h2,
p,
ul.li {
    font-family: Arial, Helvetica, sans-serif;
}

ul.header {
    display: inline;
    padding: 0;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 20px;
}

.myLink {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}